body {
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    background-color: #385898;
    height: 82px;
    color: white;
}

header div {
    margin: 0 auto;
    padding-top: 13px;
    width: 1500px;
}

#facebookTitle {
    margin-left: 200px;
    display: inline;
}

#loginInHeader {
    float: right;
    display: inline;
    margin-right: 420px;
    padding: 0 0 0 14px;
    font-size: 14px;
}

#login {
    color: white;
    border: 0;
    outline: none;
    background-color: transparent;
}

#forgetPass {
    text-decoration: none;
    color: white;
}

main article {
    margin: 0 auto;
    display: block;
    background-color: #edf0f5;
}

.introdece {
    margin-left: 280px;
    width: 565px;
    display: inline-block;
    vertical-align: top;
    padding: 42px 0px 24px;
}

.introdece img {
    border: 0;
    width: 56px;
    height: 56px;
}

.introdece .boldSpan {
    font-weight: bold;
}

.introdece span {
    font-family: 'Freight Sans Bold';
    margin-top: 20px;
    color: #333333;
    font-size: 17px;
    line-height: 22px;
}

aside h2 {
    font-family: 'Freight Sans Bold';
    font-size: 28px;
    color: #333333;
    margin: 0px 0px 5px;
    padding: 0px 0px 24px;
    line-height: 36px;
    font-weight: bold;
    /*display: inline-block;*/
}

#quickAndEasy {
    margin: 0px 0px 20px;
    font-size: 19px;
    color: #333333;
    line-height: 126%;
}

#signUpAside {
    display: inline-block;
    margin-left: 10px;
    width: 399px;
    padding: 10px;
    vertical-align: top;
}

aside table input {
    font-size: 18px;
    padding: 8px 10px;
    border-radius: 5px;
    margin: 0;
    border: none;
    display: inline-block;
}

#firstname,#lastname {
    width: 127px;
}

#email_Phone {
    width: 300px;
}

#birthOfLabel,#genderOfLabel {
    display: block;
    margin: 10px 0px 5px 5px;
    color: #90949c;
    font-size: 16px;
    font-weight: bold;
}
input[name=gender] {
    color: #1d2129;
    font-size: 18px;
    font-weight: normal;
    padding: 0px 10px 0px 3px;
    line-height: 18px;
}

#protocol {
    width: 316px;
    margin: 5px;
    color: #777777;
    font-size: 11px;
    margin: 12px 0;
}

#signUp {
    background-color: #69a74e;
    padding: 7px 20px;
    text-align: center;
    font-size: 19px;
    color: white;
    width: 194px;
    height: 39px;
    border-radius: 5px;
    margin: 10px 0;
}

#hrOfSignUp {
    width: 50%;
    margin-left: 5px;
}

#createPage {
    font-size: 14px;
    font-weight: bold;
    color: #777777;
    margin: 5px;
}

footer {
    padding-top: 50px;
}

footer ul {
    list-style-type: none;
    padding-top: 8px;
    align-items: center;
    margin-left: 280px;
    padding-bottom: 15px;
}

footer ul li {
    float: left;
    margin-left: 15px;
    /*width: 80px;*/
}

footer p {
    border-bottom: 1px solid #dddfe2;
    height: 8px;
    font-size: 1px;
    margin-left: 280px;
    margin-top: 10px;
    width: 980px;
}

footer a {
    text-decoration: none;
    color: #737373;

}
